.NavBar {
    /* Position of the bar */
    position: fixed;
    top: 0;
    left: 0;
    /* Sizing */
    height: 5rem;
    width: 100vw;
    /* Children position */
    display: flex;
    align-items: center;
    z-index: 10;
    background-color: white;
    
   
}

.NavBar img {
    height: 3rem;
    margin: 0 3rem;;
}

.SearchBar {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 350px;
}

.SearchBar input {
    width: 80%;
    height: 2rem;
    border-radius: 0.3rem;
    display: inline-block;
}