.NavBar {
  /* Position of the bar */
  position: fixed;
  top: 0;
  left: 0;
  /* Sizing */
  height: 6rem;
  width: 100vw;
  /* Children position */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: 10;
  background-color: rgb(255, 250, 248);
  box-shadow: 0 5px 8px rgb(232, 232, 232);
}

.NavBar img {
  height: 3rem;
  margin: 0 3rem;
}

.SearchBar {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  max-width: 350px;
}

.SearchBar input {
  flex: 1 1;
  width: 80%;
  height: 2rem;
  border-radius: 0.3rem;
  display: inline-block;
}

.SearchBar button {
  margin: 0 0.5rem;
  border-radius: 3px;
  border: none;
  width: 3.5rem;
  background-color: rgb(192, 231, 233);
}

.SearchBar button:hover {
  background-color: rgb(183, 219, 221);
}

.wideNav {
  display: flex;
  align-items: center;
  min-width: 600px;
}

.dropdownList {
  display: none;
  width: 95%;
}

.dropdownList select {
  width: 100%;
  font-size: 2rem;
}

@media only screen and (max-width:650px) {
  .NavBar{
    align-items: center;
  }
  .dropdownList{
    display: block;
  }
  .wideNav{
    width: 100%;
    min-width: auto;
  }
  .NavBar img {
    height: 3rem;
    margin: 0.2rem 1rem;
  }

}