html {
  height: 100vh;
  font-size: 16px;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif !important;
}

.App {
  
  position:relative;
  top: 2rem;
}

.App main {
  position: relative;
  top:2rem;
  display: flex;
  justify-content: space-between;
}

.App main .sideBar {
  width: 20%;
  max-width: 300px;
  min-width: 280px;
  display: flex;
  flex-direction: column;
}

.App main .posts {
 
  width:80%;
}

.subreddit {
  display: block;
  padding: 10px 20px;
  border-radius: 6px;
  background-color: rgb(165, 209, 211);
  width: auto;
  margin-top: 1rem;
  margin-right: 1.5rem;
  margin-left: 0.8rem;
  border: none;
  cursor:pointer;
  box-shadow: 5px 5px rgb(76, 105, 125);
}